@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pu8ths');
  src:  url('fonts/icomoon.eot?pu8ths#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pu8ths') format('truetype'),
    url('fonts/icomoon.woff?pu8ths') format('woff'),
    url('fonts/icomoon.svg?pu8ths#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e910";
}
.icon-view:before {
  content: "\e911";
}
.icon-booking:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-check-in:before {
  content: "\e902";
}
.icon-check-out:before {
  content: "\e903";
}
.icon-customer:before {
  content: "\e904";
}
.icon-hotel:before {
  content: "\e905";
}
.icon-page:before {
  content: "\e906";
}
.icon-payment:before {
  content: "\e907";
}
.icon-rate:before {
  content: "\e908";
}
.icon-room:before {
  content: "\e909";
}
.icon-setting:before {
  content: "\e90a";
}
.icon-statistic:before {
  content: "\e90b";
}
.icon-system:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
