.alert{
    border-radius: 0;
}

input{
    border-radius: 0;
}

a {
    text-shadow: none !important;
    color: #c5a47e;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

a:focus, a:hover, a:active {
    color: rgba(168, 140, 112, 0.91);
}

.horizontal-app-menu .header .header-md-height {
    height: 80px;
}

.bg-primary {
    background-color: #c5a47e !important;
}

.menu-item{
    width: 80px;
}

.menu-bar-hotel{
    width: 100%;
}

.horizontal-app-menu .header .header-inner .brand.inline {
    position: fixed;
}

.menu-item:hover{
    background-color: #c5a47e !important;
}


.btn-hotel{
    border-radius: 0;
}

.btn-primary-hotel.active, .btn-primary-hotel:active, .btn-primary-hotel.active:focus, .btn-primary-hotel:active:focus, .btn-primary-hotel:active:hover, .show .dropdown-toggle.btn-primary-hotel {
    background-color: #c5a47e;
    border-color: #c5a47e;
    color: #fff;
}

.btn-primary-hotel.hover, .btn-primary-hotel:hover, .show .dropdown-toggle.btn-primary-hotel {
    background-color: #c5a47e;
    border-color: #c5a47e;
    color: #fff;
}

.btn-primary-hotel, .btn-primary-hotel:focus {
    color: #c5a47e;
    background-color: #ffffff;
    border-color: #c5a47e;
}


.btn-hotel{
    border-radius: 0;
    text-transform: uppercase;
}

.btn-sec-hotel.active, .btn-sec-hotel:active, .btn-sec-hotel.active:focus, .btn-sec-hotel:active:focus, .btn-sec-hotel:active:hover, .show .dropdown-toggle.btn-sec-hotel {
    color: #ffffff;
    background-color: #c5a47e;
    border-color: #c5a47e;
}

.btn-sec-hotel.hover, .btn-sec-hotel:hover, .show .dropdown-toggle.btn-sec-hotel {
    background-color: #ffffff;
    border-color: #c5a47e;
    color: #c5a47e;
}

.btn-sec-hotel, .btn-sec-hotel:focus {
    color: #ffffff;
    background-color: #c5a47e;
    border-color: #c5a47e;
}

.btn-top-page{
    margin-top: 10px;
}

.btn-view, .btn-view:active, .btn-view:focus, .btn-view:active:focus{
    background-color: #ffffff;
    border-color: #725c44;
    color: #c5a47e;

}
.btn-view:hover{
    background-color: #c5a47e;
    border-color: #c5a47e;
    color: #ffffff;

}
.btn-edit, .btn-edit:active, .btn-edit:focus, .btn-edit:active:focus{
    background-color: #c5a47e;
    border-color: #c5a47e;
    color: #ffffff;
}
.btn-edit:hover{
    background-color: #ffffff;
    border-color:  #c5a47e;
    color: #c5a47e;

}
.btn-delete, .btn-delete:active, .btn-delete:focus, .btn-delete:active:focus{
    background-color: #333333;
    border-color: #c5a47e;
    color: #c5a47e;

}
.btn-delete:hover{
    background-color: #ffffff;
    border-color: #c5a47e;
    color: #c5a47e;

}

.heading-padding{
    padding-left: 15px;
    padding-right: 15px;
}

.menu-bar ul li.active {
    border-bottom: 2px solid #c5a47e;
}
