.login-wrapper {
    background-color: #c5a47e;
}

.btn-hotel{
    border-radius: 0;
    text-transform: uppercase;
}

.btn-primary-hotel.active, .btn-primary-hotel:active, .btn-primary-hotel.active:focus, .btn-primary-hotel:active:focus, .btn-primary-hotel:active:hover, .show .dropdown-toggle.btn-primary-hotel {
    background-color: #c5a47e;
    border-color: #c5a47e;
    color: #fff;
}

.btn-primary-hotel.hover, .btn-primary-hotel:hover, .show .dropdown-toggle.btn-primary-hotel {
    background-color: #c5a47e;
    border-color: #c5a47e;
    color: #fff;
}

.btn-primary-hotel, .btn-primary-hotel:focus {
    color: #c5a47e;
    background-color: #ffffff;
    border-color: #c5a47e;
}

.alert{
    border-radius: 0;
}

input{
    border-radius: 0;
}

a {
    text-shadow: none !important;
    color: #c5a47e;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

a:focus, a:hover, a:active {
    color: rgba(168, 140, 112, 0.91);
}